* {
    box-sizing: border-box;
    scroll-behavior:smooth;
}

.cover {
height:100%;
width: 100%;
display: grid;
z-index: 1;
order: 2;
overflow: hidden;
align-content: center;
}

    .headerContact {
        display: grid;
        width: 100%;
        padding: 20px 0px;
        align-content: center;
        justify-content: center;
    }

        .headerContact h1 {
            justify-self: center;
            font-size: 48px;
            color: #1a1a1d;
            font-weight: bold;
            text-shadow: 3px 3px 0 #d6d5e2;
        }

        .headerContact h3 {
            justify-self: center;
            color: #1a1a1d;
            font-size: 24px;
            width: 100%;
            font-weight: lighter;
        }

        .bodyContact {
        padding: 20px 0px;
        display: grid;
        align-items: center;
        justify-items: center;       
        }

        .formContact {
            height: 90%;
            width: 90%;
            display: grid;
            align-content: center;
        }

        .form-control {
                color: #1a1a1d;
                background: #e3e2f2;
                box-shadow: 4px 4px 0 #d6d5e2;
                height: 70px;
                width: 100%;
                border: none;
                margin-bottom: 20px;
                padding: 0px 20px;
                border-radius: 10px;
                outline: none;
                transition: all 0.4s;
            }


            .form-control::placeholder {
                color: #1a1a1d;
            }

            .form-control:focus {
                transform: scale(1.01);
            }

            .form-message {
                color: #1a1a1d;
                background: #e3e2f2;
                box-shadow: 4px 4px 0 #d6d5e2;
                height: 200px;
                width: 100%;
                border: none;
                margin-bottom: 10px;
                padding:20px 20px;
                border-radius: 10px;
                outline: none;
                transition: all 0.4s;
                resize: vertical;
            }

            .form-message::placeholder {
                color: #1a1a1d;
            }

            .form-message:focus {
                transform: scale(1.01);
            }

            .formContact button {
                cursor: pointer;
                color: #fff;
                background: #c3073f;
                height: 50px;
                width: 120px;
                font-weight: 500;
                float: right;
                outline: none;
                border: none;
                transition: all 0.4s;
            }

            .formContact button:hover {
                background: #b20a3a;
            }

        .mobileContact {
            padding: 20px 0;
            width: 100%;
            display: flex;
            justify-content: center;
        }

            .mobileContact a {
                text-decoration: none;
                display: flex;
                color: #1a1a1d;
                font-size: 20px;
                font-weight: normal;
                padding: 10px 20px;
                background: #e3e2f2;
                box-shadow: 3px 3px 0 #d6d5e2;
                border-radius: 10px;
                margin: 0 20px;
                align-items: center;
                justify-content: space-around;
            }

            .mobileContact a i {
                color: #f2f2ff;
                background: #25d366;
                padding: 10px;
                border-radius: 50%;
                margin-right: 15px;
            }