* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior:smooth;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #d6d5e2;
}
::-webkit-scrollbar-thumb {
  background: #c3073f;  
}
::-webkit-scrollbar-thumb:hover {
  background: #c3073f;  
}

::selection {
  color: #e3e2f2;
  background: #c3073f;
}

@font-face {
    font-family: "comando";
    src: url("../font/commando.ttf");
}

@font-face {
    font-family: "billionDreams";
    src: url("../font/BillionDreams_PERSONAL.ttf");
}

hr {
    border-top: 3px solid #c3073f;
    width: 20%;
    margin: auto;
}

body{
    background: #f2f2ff;
}

    .stickyHeader {
        width: 100%;
        height: 70px;
        top: 0;
        position: fixed;
        background: #e3e2f2;
        box-shadow: 1px 1px 3px #d6d5e2;
        display: grid;
        z-index: 13;
        transition: all 0.4s;
    }

        .stickyHeader .headerItems {
            width: 1280px;
            height: 100%;
            padding: 0px 10px;
            display: flex;
            justify-content: space-between;
            justify-self: center;
            align-items: center;
        }

        .headerItems img {
            content: url('../img/dwikrnputra5.png');
            height: 50px;
            filter: drop-shadow(3px 3px 0 #d6d5e2);
            margin-left: 25px;
        }

        .headerItems .sideNav {
            margin-right: 10px;
        }

        .headerItems .sideNav i {
            color: #1a1a1d;
            font-size: 34px;
            cursor: pointer;
            transition: 0.4s;
        }

        .headerItems .sideNav i:hover {
            color: #5f5f7a;
        }

        #overlayNav {
            z-index: 14;
            width: 100%;
            height: 100%;
            background: rgb(26, 26, 29, 0.4);
            position: fixed;
            display: none;
        }

        .navContent {
            z-index: 15;
            position: fixed;
            right: 0;
            top: 0;
            height: 100%;
            background: #e3e2f2;
            box-shadow: -1px 1px 3px #72727f;
            width: 0;
            transition: 0.4s;
            display: grid;
            align-content: start;
            overflow-x: hidden;
        }

            .navContent .closeNav {
                justify-self: end;
                align-self: start;
                width: max-content;
                height: max-content;
            }
            
                .closeNav i {
                    text-decoration: none;
                    cursor: pointer;
                    color: #1a1a1d;
                    font-size: 32px;
                    padding: 20px;
                    transition: all 0.2s;
                }

                .closeNav i:hover {
                    color: #5f5f7a;
                }

            .navContent ul {
                justify-self: start;
                display: grid;
                align-self: start;
                padding: 60px;
            }

                .navContent ul a {
                    text-decoration: none;
                    font-size: 32px;
                    color: #1a1a1d;
                    padding: 5px 0px;
                    transition: all 0.2s;
                }

                .navContent ul a:hover {
                    color: #5f5f7a;
                }

            .navContent hr {
                margin-left: 60px;
                width: 50%;
            }

    @media (max-width: 1279px){
        .stickyHeader .headerItems {
            width: 100vw;
        }

    }

    #back-to-top-btn {
        opacity: 0;
        position: fixed;
        bottom: 20px;
        right: -20vw;
        z-index: 13;
        font-size: 26px;
        width: 50px;
        height: 50px;
        color: #e3e2f2;
        text-shadow: 3px 3px 0 #b20a3a;
        background-color: #c3073f;
        box-shadow: 3px 3px 0 #d6d5e2;
        border: none;
        cursor: pointer;
        transition: all 0.7s;  
    }

    #back-to-top-btn:hover {
        background: #b20a3a;
    }
    
    .backgroundView {
    background: #e3e2f2;
    width: 100%;
    height: max-content;
    box-shadow: 1px 1px 3px #d6d5e2;
    }

    .backgroundView2 {
    background: #e3e2f2;
    width: 100%;
    height: max-content;
    box-shadow: -1px -1px 3px #d6d5e2;
    position: absolute;
    z-index: 9;
    }
        
        .container {
        max-width: 1280px;
        margin: 0px auto;
        height: max-content;
        padding: 0px 10px;
        text-align: center;
        font-weight: bold;
        display: grid;
        overflow: hidden;
        }

            header {
                height: 70px;
                content: '';
            }

            footer {
            height: 340px;
            display: grid;
            justify-items: center;
            align-content: end;
            order: 4;
            z-index: 10;
            }

            .footerTop {
            display: grid;
            width: 100%;
            height: 158px;
            justify-content: center;
            align-content: center;
            }

            .footerTop img {
                content: url('../img/dwikrnputra5.png');
                height: 45px;
                margin: -5px auto;
            }

            .address, .number, .email {
                font-size: 16px;
                color: #1a1a1d;
                font-weight: 500;
            }

            .footerMid {
                display: grid;
                width: 100%;
                height: 122px;
                align-content: center;
            }

            .menuF a {
            color: #1a1a1d;
            text-decoration: none;
            padding: 0px 3px;
            font-weight: 500;
            transition: all 0.4s; 
            }

            .menuF a:hover {
            color: #5f5f7a;
                        
            }

            .socials2 a i {
            color: #1a1a1d;
            font-size: 25px;
            padding: 5px 10px;
            line-height: 45px;
            }

            .socials2 a i:hover {
            color: #c3073f;
            transition: all 0.4s; 
            }

            .footerBottom {
            display: grid;
            width: 100%;
            height: 60px;
            align-content: center;

            }

                .copyright {
                color: #a9a9cc;
                font-size: 14px;
                font-weight: 400;
                }

                .copyright b {
                font-weight: 600;
                }


/*MEDIA SCREEN*/
@media (max-width: 860px) {

}