* {
    box-sizing: border-box;
    scroll-behavior:smooth;
}

section {
    display: grid;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

    .coverHead {
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 20px 0px;
        width: 100%;
        height: 100%;
    }

        .coverHead h1 {
            justify-self: center;
            font-size: 48px;
            color: #1a1a1d;
            font-weight: bold;
            text-shadow: 3px 3px 0 #d6d5e2;
        }

        .coverHead h3 {
            justify-self: center;
            color: #1a1a1d;
            font-size: 24px;
            font-weight: lighter;
        }

    .coverBody {
        display: flex;
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 20px;
        justify-content: center;
    }

        .coverBodyLeft {
            display: grid;           
            width: 30%;
            height: 100%;
            margin: 0px 20px;
        }

            .coverBodyLeft img {
                content: url('../img/putra3.png');
                width: 100%;
                background: #e3e2f2;
                box-shadow: 3px 3px 0 #d6d5e2;
                border-radius: 20px;
                padding-top: 20px;
                transition: all 0.4s;          
            }

            .coverBodyLeft img:hover {
                transform: translateY(2%);
            }

        .coverBodyRight {
            display: grid;
            align-content: start;
            justify-items: start;
            width: 60%;
            height: 100%;
            margin: 0px 20px;

        }

            .coverBodyRight h4 {
                color: #1a1a1d;
                font-size: 36px;
                font-weight: 600;
                text-align: left;
            }

            .coverBodyRight p {
                color: #1a1a1d;
                font-weight: 400;
                font-size: 20px;
                text-align: justify;
                margin: 5px 0;
                margin-bottom: 20px;
            }

            .coverBodyRight ul {
                display: flex;
            }

            .coverBodyRight ul a {
                width: 150px;
                margin-right: 10px;
                transition: all 0.4s;
            }

            .coverBodyRight ul .downloadCV {
                background: #c3073f;
                color: #f2f2ff;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                padding: 5px 10px;
                border: 2px solid transparent;
            }
            
            .coverBodyRight ul .downloadCV:hover {
                background: #b20a3a;
            }

            .coverBodyRight ul .resumeLinkedin {
                border: 2px solid #c3073f;
                color: #c3073f;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                padding: 5px 10px;
            }
            
            .coverBodyRight ul .resumeLinkedin:hover {
                background: #f7f7ff;
            }

    .profile {
        display: grid;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 20px 0px;
    }

        .profileHead {
            display: flex;
            width: 75%;
            background: #e3e2f2;
            justify-content: flex-end;
            justify-self: flex-start;
            align-items: center;
            border-radius: 20px;
            padding: 0px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            transition: all 0.4s;
        }

        .profileHead:hover {
            transform: translateY(2%);
        }

        .profileHead h2 {
            font-size: 40px;
            color: #1a1a1d;
            font-weight: bold;
            text-shadow: 3px 3px 0 #d6d5e2;
        }

        .profileBody {
            display: flex;
            width: 75%;
            background: #e3e2f2;
            border-radius: 20px;
            padding: 20px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            justify-content: flex-end;
            justify-self: flex-start;
            transition: all 0.4s;
        }

        .profileBody:hover {
            transform: translateY(2%);
        }

            .profileBodyLeft {
                display: grid;
                width: 50%;
                justify-content: end;
                text-align: right;
            }

            .profileBodyRight {
                display: grid;
                width: 50%;
                justify-content: end;
                text-align: right;
            }

            .profileBodyLeft b, .profileBodyRight b {
                color: #1a1a1d;
                font-size: 20px;
                font-weight: 600;
            }

            .profileBodyLeft p, .profileBodyRight p {
                color: #1a1a1d;
                font-size: 16px;
                font-weight: 400;
            }

    .skills {
        display: grid;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 20px 0px;
    }

        .skillsHead {
            display: flex;
            width: 75%;
            background: #e3e2f2;
            justify-content: flex-start;
            justify-self: flex-end;
            align-items: center;
            padding: 0px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            border-radius: 20px;
            transition: all 0.4s;
        }

        .skillsHead:hover {
            transform: translateY(2%);
        }

        .skillsHead h2 {
            font-size: 40px;
            color: #1a1a1d;
            font-weight: bold;
            text-shadow: 3px 3px 0 #d6d5e2;
        }

        .skillsBody {
            display: flex;
            width: 75%;
            background: #e3e2f2;
            padding: 20px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            border-radius: 20px;
            justify-content: flex-start;
            justify-self: flex-end;
            transition: all 0.4s;
        }

        .skillsBody:hover {
            transform: translateY(2%);
        }

            .skillsBodyLeft {
                display: grid;
                width: 50%;
                justify-content: start;
                text-align: left;
                align-content: start;
            }

            .skillsBodyRight {
                display: grid;
                width: 50%;
                justify-content: start;
                text-align: left;
                align-content: start;
            }

            .skillsBodyLeft b, .skillsBodyRight b {
                color: #1a1a1d;
                font-size: 16px;
                font-weight: 600;
                padding: 10px 0px;
            }

    .tools {
        display: grid;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 20px 0px;
    }

        .toolsHead {
            display: flex;
            width: 75%;
            background: #e3e2f2;
            justify-content: flex-end;
            justify-self: flex-start;
            align-items: center;
            padding: 0px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            border-radius: 20px;
            transition: all 0.4s;
        }
        
        .toolsHead:hover {
            transform: translateY(2%);
        }

        .toolsHead h2 {
            font-size: 40px;
            color: #1a1a1d;
            font-weight: bold;
            text-shadow: 3px 3px 0 #d6d5e2;
        }

        .toolsBody {
            display: flex;
            width: 75%;
            background: #e3e2f2;
            padding: 20px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            border-radius: 20px;
            justify-content: flex-end;
            justify-self: flex-start;
            transition: all 0.4s;
        }

        .toolsBody:hover {
            transform: translateY(2%);
        }

            .toolsBodyLeft {
                display: grid;
                width: 50%;
                justify-content: end;
                text-align: right;
                align-content: start;
            }

            .toolsBodyRight {
                display: grid;
                width: 50%;
                justify-content: end;
                text-align: right;
                align-content: start;
            }

            .toolsBodyLeft b, .toolsBodyRight b {
                color: #1a1a1d;
                font-size: 16px;
                font-weight: 600;
                padding: 10px 0px;
            }

    .interest {
        display: grid;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 20px 0px;
    }

        .interestHead {
            display: flex;
            width: 75%;
            background: #e3e2f2;
            justify-content: flex-start;
            justify-self: flex-end;
            align-items: center;
            padding: 0px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            border-radius: 20px;
            transition: all 0.4s;
        }

        .interestHead:hover {
            transform: translateY(2%);
        }

        .interestHead h2 {
            font-size: 40px;
            color: #1a1a1d;
            font-weight: bold;
            text-shadow: 3px 3px 0 #d6d5e2;
        }

        .interestBody {
            display: flex;
            width: 75%;
            background: #e3e2f2;
            padding: 20px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            border-radius: 20px;
            justify-content: flex-start;
            justify-self: flex-end;
            transition: all 0.4s;
        }

        .interestBody:hover {
            transform: translateY(2%);
        }

            .interestBodyLeft {
                display: grid;
                width: 50%;
                justify-content: start;
                text-align: left;
                align-content: start;
            }

            .interestBodyRight {
                display: grid;
                width: 50%;
                justify-content: start;
                text-align: left;
                align-content: start;
            }

            .interestBodyLeft b, .interestBodyRight b {
                color: #1a1a1d;
                font-size: 16px;
                font-weight: 600;
                padding: 10px 0px;
            }
            
    .education {
        display: grid;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 20px 0px;
    }
    
        .educationHead {
            display: flex;
            width: 100%;
            background: #e3e2f2;
            justify-content: center;
            align-items: center;
            padding: 0px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            border-radius: 20px;
            transition: all 0.4s;
        }

        .educationHead:hover {
            transform: translateY(2%);
        }

        .educationHead h2 {
            font-size: 40px;
            color: #1a1a1d;
            font-weight: bold;
            text-shadow: 3px 3px 0 #d6d5e2;
        }

        .educationBody {
            display: grid;
            width: 100%;
            background: #e3e2f2;
            box-shadow: 4px 4px 0 #d6d5e2;
            border-radius: 20px;
            margin: 20px 0px;
            padding: 20px;
            transition: all 0.4s;
        }

        .educationBody:hover {
            transform: translateY(2%);
        }

        .educationBody img {
            height: 130px;
            justify-self: center;
            transition: all 0.4s;
        }

        .educationBody img:hover {
            transform: scale(1.05);
        }

        .educationBody h1 {
            color: #1a1a1d;
            font-size: 22px;
            font-weight: 600;
        }

        .educationBody h2 {
            color: #1a1a1d;
            font-size: 20px;
            font-weight: 600;
        }

        .educationBody h3 {
            color: #a9a9cc;
            font-size: 18px;
            font-weight: 600;
        }

        .educationBody p {
            color: #1a1a1d;
            font-size: 16px;
            font-weight: 400;
        }

    .experience {
        display: grid;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 20px 0px;
    }
    
        .experienceHead {
            display: flex;
            width: 100%;
            background: #e3e2f2;
            justify-content: center;
            align-items: center;
            padding: 0px 20px;
            margin: 20px 0px;
            box-shadow: 4px 4px 0 #d6d5e2;
            border-radius: 20px;
            transition: all 0.4s;
        }

        .experienceHead:hover {
            transform: translateY(2%);
        }

        .experienceHead h2 {
            font-size: 40px;
            color: #1a1a1d;
            font-weight: bold;
            text-shadow: 3px 3px 0 #d6d5e2;
        }

        .expeienceBody {
            display: grid;
            width: 100%;
            align-content: start;
            margin: 20px 0px;
            padding: 20px;
            transition: all 0.4s;            
        }

            .timeline-items{
                width: 100%;
                margin:auto;
                display: flex;
                flex-wrap: wrap;
                position: relative;
            }
            .timeline-items::before{
                content: '';
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: #1a1a1d;
                left: calc(50% - 1px);
            }
            .timeline-item{
                margin-bottom: 40px;
                width: 100%;
                position: relative;
            }
            .timeline-item:last-child{
                margin-bottom: 0;
            }
            .timeline-item:nth-child(odd){
                padding-right: calc(50% + 30px);
                text-align: right;
            }
            .timeline-item:nth-child(even){
                padding-left: calc(50% + 30px);
            }
            .timeline-dot{
                height: 16px;
                width: 16px;
                background-color: #c3073f;
                position: absolute;
                left: calc(50% - 8px);
                border-radius: 50%;
                top:10px;
            }
            .timeline-date{
                font-size: 18px;
                color: #1a1a1d;
                margin:6px 0 15px;
            }
            .righttext{
                text-align: start;
            }
            
            .marginleft {
                margin-left: 30px;
            }

            .marginright {
                margin-right: 30px;
            }

            .timeline-content{
                background-color: #e3e2f2;
                padding: 30px;
                box-shadow: 6px 6px 0 #d6d5e2;
                border-radius: 20px;
                transition: all 0.4s;
            }

            .timeline-content:hover {
                transform: translateY(2%);
            }

            .timeline-content.shadowright {
                box-shadow: -6px 6px 0 #d6d5e2;
            }

            .timeline-content h3{
                font-size: 20px;
                color: #c3073f;
                margin:0 0 10px;
                font-weight: bold;
            }
            .timeline-content h4{
                font-size: 18px;
                color: #a9a9cc;
                margin: -15px 0 10px;
                font-weight: bold;
            }
            .timeline-content p {
                color: #1a1a1d;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                text-align: justify;
            }
            
            .timeline-content ul {
                color: #1a1a1d;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                text-align: justify;
                padding-left: 22px;
            } 

    .afterSection {
        content: '';
        display: grid;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 20px 0px;
    }

    @media (max-width: 780px) {

        .coverBody {
            display: grid;
        }

        .coverBodyLeft {
            width: 60%;
            margin: 10px auto;
        }

        .coverBodyRight {
            margin: 0;
            width: 100%;
            justify-items: center;
        }

        .coverBodyRight h4 {
            text-align: center;
            font-size: 24px;
        }

        .coverBodyRight p {
            text-align: center;
            font-size: 16px;
            width: 90%;
        }

        .profileHead, .profileBody, .skillsHead, .skillsBody, .toolsHead, .toolsBody, .interestHead, .interestBody {
            width: 100%;
        }

        .profileBodyLeft b, .profileBodyRight b {
            font-size: 16px;
        }

        .profileBodyLeft p, .profileBodyRight p {
            font-size: 12px;
        }
        
        .skillsBodyLeft b, .skillsBodyRight b, .toolsBodyLeft b, .toolsBodyRight b, .interestBodyLeft b, .interestBodyRight b {
            font-size: 12px;
        }

        .educationBody h1 {
            font-size: 18px;
        }

        .educationBody h2 {
            font-size: 16px;
        }

        .educationBody h3 {
            font-size: 14px;
        }

        .educationBody p {
            font-size: 12px;
            text-align: justify;
        }

        /* FOR EXPERIENCE */
            .timeline-content {
                width: 96%;
            }

            .timeline-content.shadowright {
                    box-shadow: 6px 6px 0 #d6d5e2;
            }

            .marginleft {
                margin-left: 0;
            }

            .marginright {
                margin-right: 0;
            }

            .timeline-items::before{
                left: 7px;
            }
            .timeline-item:nth-child(odd){
                padding-right: 0;
                text-align: left;
            }
            .timeline-item:nth-child(odd),
            .timeline-item:nth-child(even){
                padding-left: 37px;
            }
            .timeline-dot{
                left:0;
            }

            .timeline-date {
                font-size: 14px;
            }

            .timeline-content h3 {
                font-size: 16px;
            }

            .timeline-content h4 {
                font-size: 14px;
            }

            .timeline-content p, .timeline-content ul {
                font-size: 12px;
            }
        }
